body {
      background-color: #E8EBF7;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      color: #333;
    }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #DFE4F7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23405E;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header button {
  margin-right: 10px;
  padding: 8px 12px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header-home-button, .header-documentation-button{
    background-color: #38598b;
      border-radius: 4px;
      font-size: 18px;
}

.header-documentation-button::after{
  font-family: "Material Icons";
  content: "\ef42";
    font-size: 18px; 
  font-weight: 400; 
  line-height: 1; 
  vertical-align: middle; 
  display: inline-block; 
  text-align: center; 
  width: 18px; 
  height: 18px; 
  color: #fff; 
  background-color: transparent; 
  border: none; 
  margin-left: 5px; 
}

.header-home-button::after{
  font-family: "Material Icons";
  content: "\e88a";
  font-size: 18px; 
  font-weight: 400; 
  line-height: 1; 
  vertical-align: middle; 
  display: inline-block; 
  text-align: center; 
  width: 18px; 
  height: 18px; 
  color: #fff; 
  background-color: transparent; 
  border: none; 
  margin-left: 5px; 
}

.header-library-button:hover, .header-documentation-button:hover{
    background-color: #4E7CC2;
}

.header-refresh-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  margin-left: 10px;
  position: relative;
}

.header-refresh-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Material Icons";
  content: "\E5D5";
  color: white;
  font-size: 24px;
}

.header-refresh-button:hover {
  color: #8DA3F7;
}

.header-icons {
  display: flex;
  align-items: center;
}

    h1 {
      font-size: 24px;
      margin-top: 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      background-color: #23405E;
      color: #ffffff;
    }

    td {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #BCC8F7;
    }

    tr:nth-child(odd) {
      background-color: #CDD6F7;
    }

.excel-button{
    width: 100%;
    height: 5vh;
      justify-content: space-between;
}

.excel-button button {
  display: flex;
  border: none;
  text-align: center;
  padding: 12px 12px;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
}

.excel-export-button{
    color: #fff;
    background-color: #38598b;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.excel-export-button::after{
    content: '\f090';
    font-family: "Material Icons";
      font-size: 18px; 
  font-weight: 400; 
  line-height: 1; 
  vertical-align: middle; 
  display: inline-block; 
  text-align: center; 
  width: 18px; 
  height: 18px; 
  color: #fff; 
  background-color: transparent; 
  border: none; 
  margin-left: 5px; 
}

.download-message {
  position: fixed;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(0, 153, 0, 0.42);
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.6s ease;
}