body {
  background-color: #E8EBF7;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #DFE4F7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23405E;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header button {
  margin-right: 10px;
  padding: 8px 12px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header-library-button, .header-documentation-button{
    background-color: #38598b;
      border-radius: 4px;
      font-size: 18px;
}

.header-documentation-button::after{
  font-family: "Material Icons";
  content: "\ef42";
    font-size: 18px;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 18px;
  height: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

.header-library-button::after{
  font-family: "Material Icons";
  content: "\f101";
    font-size: 18px;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 18px;
  height: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

.header-library-button:hover, .header-documentation-button:hover{
    background-color: #4E7CC2;
}

.header-refresh-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  margin-left: 10px;
  position: relative;
}

.header-refresh-button::before {
  content: "\E5D5";
  font-family: "Material Icons";
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-refresh-button:hover {
  color: #8DA3F7;
}

.header-icons {
  display: flex;
  align-items: center;
}

.main-container {
  background-color: #DFE4F7;
  padding: 20px;
  border-radius: 8px;
}

.section-container {
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26415C;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  position: relative;
  font-size: 19px;
}

.section-header::after {
  content: "\E5CF";
  font-family: "Material Icons";
  font-size: 22px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.section-header:hover {
  background-color: #34587D;
}

.section-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.section-header > div > span {
  margin-right: 10px;
}

.section-content {
  display: none;
  padding: 10px;
  background-color: #DFE4F7;
  color: #222;
}

.section-content .form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section-content .form-field label {
  margin-right: 10px;
  width: 80px;
}

.section-content .form-field input {
  flex-grow: 1;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.section-content .form-field .form-button {
  margin-left: auto;
  padding: 6px 12px;
  background-color: #446CA8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-content .form-field .form-button:hover {
  background-color: #4E7CC2;
}

.section-content .form-button.add-button::before {
  content: "\002B";
  font-size: 14px;
  margin-right: 5px;
}

.section-content .form-button.edit-button::before {
  content: "\270E";
  font-size: 14px;
  margin-right: 5px;
}

.section-content .form-button.delete-button::before {
  content: "\2716";
  font-size: 14px;
  margin-right: 5px;
}

  .notification {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
  }

  .notification.success {
    background-color: #4CAF50;
    color: white;
  }

  .notification.error {
    background-color: #f44336;
    color: white;
  }

  .notification.warning {
    background-color: #F4A836;
    color: white;
  }

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footer-text {
  color: #777;
}

.footer-link {
  color: #555;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}