<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books list</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/web_interface/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/all_books_style.css') }}">
  <script src="{{ url_for('static', filename='scripts/all_books_script.js') }}"></script>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>

<body>
  <div class="container">
    <header class="header">
      <div class="header-left">
        <button class="header-home-button" onclick="goToHomePage()">Home</button>
      </div>
      <div class="header-icons">
        <button class="header-refresh-button" onclick="refreshPage()">
        </button>
      </div>
      <div class="header-right">
        <button class="header-documentation-button" onclick="goToDocumentation()">Docs</button>
      </div>
    </header>

    <table id="booksTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
        </tr>
      </thead>
    <tbody id="booksList">
      {% for book in books %}
      <tr>
        <td>{{ book[0] }}</td>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

    <div class="excel-button">
      <button class="excel-export-button" onclick="exportToExcel()">booksDatabase.xlsx</button>
    </div>
  </div>
</body>
</html>