<!DOCTYPE html>
<html>
<head>
  <title>Library Manager</title>
  <link rel="icon" type="image/x-icon" href="/web_interface/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}">
  <script src="{{ url_for('static', filename='scripts/index_script.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="header-left">
        <button class="header-library-button" onclick="goToLibrary()">Library</button>
      </div>
      <div class="header-icons">
        <button class="header-refresh-button" onclick="refreshPage()">
        </button>
      </div>
      <div class="header-right">
        <button class="header-documentation-button" onclick="goToDocumentation()">Docs</button>
      </div>
    </header>

    <div class="main-container">
  <div class="section-container">
    <div class="section-header" onclick="toggleSection('add-book-section')">
      <div>Add Book</div>
    </div>
    <div class="section-content" id="add-book-section">
      <div class="form-field">
        <label for="add-title">Title:</label>
        <input type="text" id="add-title" name="add-title">
      </div>
      <div class="form-field">
        <label for="add-author">Author:</label>
        <input type="text" id="add-author" name="add-author">
      </div>
      <div class="form-field">
        <label for="add-year">Year:</label>
        <input type="text" id="add-year" name="add-year">
      </div>
      <div class="form-field">
        <button class="form-button add-button" onclick="addBook()">Add</button>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header" onclick="toggleSection('edit-book-section')">
      <div>Edit Book</div>
    </div>
    <div class="section-content" id="edit-book-section">
      <div class="form-field">
        <label for="edit-id">ID:</label>
        <input type="text" id="edit-id" name="edit-id">
      </div>
      <div class="form-field">
        <label for="edit-title">Title:</label>
        <input type="text" id="edit-title" name="edit-title">
      </div>
      <div class="form-field">
        <label for="edit-author">Author:</label>
        <input type="text" id="edit-author" name="edit-author">
      </div>
      <div class="form-field">
        <label for="edit-year">Year:</label>
        <input type="text" id="edit-year" name="edit-year">
      </div>
      <div class="form-field">
        <button class="form-button edit-button" onclick="editBook()">Edit</button>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header" onclick="toggleSection('delete-book-section')">
      <div>Delete Book</div>
    </div>
    <div class="section-content" id="delete-book-section">
      <div class="form-field">
        <label for="delete-id">ID:</label>
        <input type="text" id="delete-id" name="delete-id">
      </div>
      <div class="form-field">
        <button class="form-button delete-button" onclick="deleteBook()">Delete</button>
      </div>
    </div>
  </div>
      <div id="notification" class="notification"></div>
  </div>
  </div>
</body>
</html>